% {erl_opts, [warnings_as_errors, debug_info]}.

{erl_opts, [debug_info,
           {src_dirs, ["src", "tests", "lib"]}
           ]

}.

{deps, [
  {misultin, "0.7.2", {git, "git://github.com/wooga/misultin.git", {tag, "misultin-0.7.2"}}},
  {jiffy, "0.2.0", {git, "git://github.com/davisp/jiffy", {tag, "0.2.0"}}},
  {eredis, "0.6.0", {git, "git://github.com/wooga/eredis.git", {tag, "v0.6.0"}}},
  {erlstatsd, ".*", {git, "git://github.com/wil/erlstatsd.git"}},
  {ibrowse, "2.1.*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "8c46b108bb"}}},

  % ETest assertions for HTTP requests.
  {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}},

  % ETest testing framework.
  {etest, "", {git, "git://github.com/wooga/etest.git"}},

  % Mocking.
  {meck, "0.7.2", {git, "git://github.com/eproxus/meck.git"}}
]}.

{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
