% {erl_opts, [warnings_as_errors, debug_info]}.

{erl_opts, [debug_info,
           {src_dirs, ["src", "tests", "lib"]}
           ]

}.

{deps, [
  {ibrowse, "2.1.*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "8c46b108bb"}}},
  % ETest testing framework.
  {etest, "", {git, "git://github.com/wooga/etest.git"}},

  % Mocking.
  {meck, "0.7.2", {git, "git://github.com/eproxus/meck.git"}}
]}.

{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
